<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<form id="review-form" method="POST" action="/review/create">
  <div class="form-group">
    <label for="place">Name of the Eatery</label>
    <input type="text" class="form=control" id="place" name="place" />
  </div>
  <div class="form-group">
    <label for="taste">Taste Rating</label>
    <select name="tasteRating" id="tasteRating" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="form-group">
    <textarea name="comment" id="review-form" cols="30" rows="10"></textarea>
  </div>
  <input type="submit" value="submit" />
</form>